html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: LightGray;
}

div {
  border: 1px solid Chocolate;
}

.navbar {
  background-color: #FFFFFF;
}

.navbar > .content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
  padding: 0px 15px;
}

.navbar .links {
  float: right;
}

.navbar .links li {
  display: inline-block;
}

.logo {
  height: 70px;
}
